.home {
  padding: 1.5rem;
}

.components {
  display: flex;
}

.text-input {
  height: 60vh;
  width: 50vw;
  margin-right: 2rem;
}

.text-input-text,
.text-processed-text {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.btn-copy-input {
  margin-left: 8px;
}

.features {
  display: grid;
  height: 68vh;
}

.text-processed {
  height: 26vh;
  width: 40vw;
}

.btn-copy-length-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.char-length-wrapper {
  padding: 0;
}

.char-length {
  margin: 0;
  color: red;
  font-size: 12px;
}
